<IfModule mod_headers.c>
    #Header unset X-Frame-Options
    #Header always unset X-Frame-Options
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Credentials "true"
    Header set Access-Control-Allow-Methods "GET,HEAD,OPTIONS,POST,PUT"
    Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"
</IfModule>

<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
  RewriteEngine On
  # Prevent access to the /src directory
  RewriteRule ^(src/) - [F,L,NC]

  # Prevent access to the /modules directory
  RewriteRule ^(modules/) - [F,L,NC]

  # Prevent access to the /themes directory
  RewriteRule ^(themes/) - [F,L,NC]

  # Prevent access to the /vendor directory
  RewriteRule ^(vendor/) - [F,L,NC]
</IfModule>
